{%extends "template.html"%}
{%block style%}
  body {
      background: url({{url_for('static',filename='img/bg-colors/JIS_blue.png')}}) repeat;
  }
{%endblock%}
{%block content%}
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="padding-left:50px;">
        <h1 class="page-header">Boys stream</h1>
        <div class="container" style="background:white">
        <div class="row">
            <div class="col-lg-8 col-md-8 text-center">
                <h3 id="gameTitle">Loading...</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 text-center">
                <div class="video-container">
                    <h3>The Live Stream will be available from 8:00AM, Friday  April 2015</h3>                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 text-center hidden" id="visitorCol">
                <h4 id="visitorLabel"></h4>
                <img class="img-responsive" style="display: inline" id="visitorLogo">
                <br>
                <h1 id="visitorTotal"></h1>
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center">Innings</th>
                            <th class="text-center">Runs</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td><td id="B3"></td>
                    </tr>
                    <tr>
                        <td>2</td><td id="C3"></td>
                    </tr>
                    <tr>
                        <td>3</td><td id="D3"></td>
                    </tr>
                    <tr>
                        <td>4</td><td id="E3"></td>
                    </tr>
                    <tr>
                        <td>5</td><td id="F3"></td>
                    </tr>
                    <tr>
                        <td>6</td><td id="G3"></td>
                    </tr>
                    <tr>
                        <td>7</td><td id="H3"></td>
                    </tr>
                    <tr>
                        <td>8</td><td id="I3"></td>
                    </tr>
                    <tr>
                        <td>9</td><td id="J3"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 text-center hidden" id="homeCol">
                <h4 id="homeLabel"></h4>
                <img class="img-responsive" style="display: inline" id="homeLogo">
                <br>
                <h1 id="homeTotal"></h1>
                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th class="text-center">Innings</th>
                        <th class="text-center">Runs</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td><td id="B5"></td>
                    </tr>
                    <tr>
                        <td>2</td><td id="C5"></td>
                    </tr>
                    <tr>
                        <td>3</td><td id="D5"></td>
                    </tr>
                    <tr>
                        <td>4</td><td id="E5"></td>
                    </tr>
                    <tr>
                        <td>5</td><td id="F5"></td>
                    </tr>
                    <tr>
                        <td>6</td><td id="G5"></td>
                    </tr>
                    <tr>
                        <td>7</td><td id="H5"></td>
                    </tr>
                    <tr>
                        <td>8</td><td id="I5"></td>
                    </tr>
                    <tr>
                        <td>9</td><td id="J5"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-8 col-md-8">
                <h4>Recorded Video</h4>
                <a href="https://www.youtube.com/watch?v=L8qILOGE9S8" target="_blank">
                    <button type="button" class="btn btn-warning" style="width:84px; margin-bottom:5px; margin-right:10px">
                        <strong>Day 1</strong>
                    </button>
                </a>
                <a href="https://www.youtube.com/watch?v=lfzQ0P33PFk" target="_blank">
                    <button type="button" class="btn btn-warning" style="width:84px; margin-bottom:5px; margin-right:10px">
                        <strong>Day 2 - 1</strong>
                    </button>
                </a>
                <a href="https://www.youtube.com/watch?v=_dE3UvP1yGQ" target="_blank">
                    <button type="button" class="btn btn-warning" style="width:84px; margin-bottom:5px; margin-right:10px">
                        <strong>Day 2 - 2</strong>
                    </button>
                </a>
                <a href="https://www.youtube.com/watch?v=2vkTFWwvvkA" target="_blank">
                    <button type="button" class="btn btn-warning" style="width:84px; margin-bottom:5px; margin-right:10px">
                        <strong>Day 3</strong>
                    </button>
                </a>
            </div>
        </div>
    </div><!-- /.container -->
    </div>
</div>
{%endblock%}
