{%extends "template.html"%}
{%block style%}
  body {
      background: url({{url_for('static',filename='img/bg-colors/JIS_blue.png')}}) repeat;
  }
{%endblock%}
{%block content%}
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="padding-left:50px;">
        <h1 class="page-header">Boys stream</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div style="padding-bottom: 56%; height: 0; overflow: visible">
          <iframe width="100%" height="100%" src="http://www.youtube.com/embed/l3Xfpa5VJKs?autoplay=1" frameborder="0" allowfullscreen style="position: absolute; top: 0; left: 0"></iframe>
        </div>
    </div>
</div>
{%endblock%}
