{%extends "template.html"%}
{%block style%}
      body {
          background: url({{url_for('static',filename='img/bg-colors/schedule_orange.png')}}) repeat;
        }
      td, th {
            text-align: center;
            padding-left:35px;
            padding-top:10px;
            padding-bottom:10px
        }
        h2,h3,h4{
          text-align:center;
        }
        h2{
          padding-top:40px;
        }
        .item{
          border-bottom: 1px dashed black;
          border-top: 1px dashed black
        }
{%endblock%}
{%block content%}

            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="padding-left:50px;">
                    <h1 class="page-header">Schedule</h1>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12; text-center">
                <br>
                <a href="http://time.is/Jakarta" id="time_is_link" rel="nofollow" style="font-size:24px;color:black;background:rgba(0, 0, 0, 0)"><strong>Date and Time in Jakarta:</strong></a>
                <span id="Jakarta_z41c" style="font-size:24px;color:black;background:rgba(0, 0, 0, 0)"></span>
                <script src="http://widget.time.is/en.js"></script>
                <script>
                    time_is_widget.init({Jakarta_z41c:{template:"<br/>DATE<br/>TIME", time_format:"12hours:minutes:seconds AMPM", date_format:"dayname, dnum monthname, year"}});
                </script>
            </div>

          </div>

        <div class="container" style="background:white">
            <h2><strong>Day One</strong></h2>
            <h3>Thursday, 28 January</h3>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 col-xs-12">
                    <h4>Boys</h4>
                    <table style="margin: 0px auto;">
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Home</th>
                                <th></th>
                                <th>Visitor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="item">
                                <td colspan="4" style="padding-left:0px"><strong><i>ROUND 1</i></strong></td>
                            </tr>
                            <tr class="item">
                                <td>8:00 AM</td>
                                <td><strong>ISM</strong></td>
                                <td>vs.</td>
                                <td><strong>TAS</strong></td>
                            </tr>
                            <tr class="item">
                                <td>8:45 AM</td>
                                <td><strong>JIS</strong></td>
                                <td>vs.</td>
                                <td><strong>ISKL</strong></td>
                            </tr>
                            <tr class="item">
                                <td>9:30 PM</td>
                                <td><strong>ISB</strong></td>
                                <td>vs.</td>
                                <td><strong>SAS</strong></td>
                            </tr>
                            <tr class="item">
                                <td colspan="4" style="padding-left:0px"><strong><i>ROUND 2</i></strong></td>
                            </tr>
                            <tr class="item">
                                <td>13:00 PM</td>
                                <td><strong>TAS</strong></td>
                                <td>vs.</td>
                                <td><strong>JIS</strong></td>
                            </tr>
                            <tr class="item">
                                <td>13:45 PM</td>
                                <td><strong>SAS</strong></td>
                                <td>vs.</td>
                                <td><strong>ISM</strong></td>
                            </tr>
                            <tr class="item">
                                <td>14:30 PM</td>
                                <td><strong>ISKL</strong></td>
                                <td>vs.</td>
                                <td><strong>ISB</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <h4>Girls</h4>
                    <table style="margin: 0px auto;">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Home</th>
                            <th></th>
                            <th>Visitor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="item">
                            <td colspan="4" style="padding-left:0px"><strong><i>ROUND 1</i></strong></td>
                        </tr>
                        <tr class="item">
                            <td>10:15 AM</td>
                            <td><strong>JIS</strong></td>
                            <td>vs.</td>
                            <td><strong>ISB</strong></td>
                        </tr>
                        <tr class="item">
                            <td>11:00 AM</td>
                            <td><strong>ISM</strong></td>
                            <td>vs.</td>
                            <td><strong>SAS</strong></td>
                        </tr>
                        <tr class="item">
                            <td>11:45 AM</td>
                            <td><strong>TAS</strong></td>
                            <td>vs.</td>
                            <td><strong>ISKL</strong></td>
                        </tr>
                        <tr class="item">
                            <td colspan="4" style="padding-left:0px"><strong><i>ROUND 2</i></strong></td>
                        </tr>
                        <tr class="item">
                            <td>15:15 PM</td>
                            <td><strong>ISB</strong></td>
                            <td>vs.</td>
                            <td><strong>ISM</strong></td>
                        </tr>
                        <tr class="item">
                            <td>16:00 PM</td>
                            <td><strong>ISKL</strong></td>
                            <td>vs.</td>
                            <td><strong>JIS</strong></td>
                        </tr>
                        <tr class="item">
                            <td>16:45 PM</td>
                            <td><strong>SAS</strong></td>
                            <td>vs.</td>
                            <td><strong>TAS</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <h2><strong>Day Two</strong></h2>
            <h3>Friday, 29 January</h3>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 col-xs-12">
                    <h4>Boys</h4>
                    <table style="margin: 0px auto;">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Home</th>
                            <th></th>
                            <th>Visitor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="item">
                            <td colspan="4" style="padding-left:0px"><strong><i>ROUND 3</i></strong></td>
                        </tr>
                        <tr class="item">
                            <td>8:00 AM</td>
                            <td><strong>SAS</strong></td>
                            <td>vs.</td>
                            <td><strong>TAS</strong></td>
                        </tr>
                        <tr class="item">
                            <td>8:45 AM</td>
                            <td><strong>ISB</strong></td>
                            <td>vs.</td>
                            <td><strong>JIS</strong></td>
                        </tr>
                        <tr class="item">
                            <td>9:30 AM</td>
                            <td><strong>ISM</strong></td>
                            <td>vs.</td>
                            <td><strong>ISKL</strong></td>
                        </tr>
                        <tr class="item">
                            <td colspan="4" style="padding-left:0px"><strong><i>ROUND 4</i></strong></td>
                        </tr>
                        <tr class="item">
                            <td>13:00 PM</td>
                            <td><strong>TAS</strong></td>
                            <td>vs.</td>
                            <td><strong>ISB</strong></td>
                        </tr>
                        <tr class="item">
                            <td>13:45 PM</td>
                            <td><strong>JIS</strong></td>
                            <td>vs.</td>
                            <td><strong>ISM</strong></td>
                        </tr>
                        <tr class="item">
                            <td>14:30 PM</td>
                            <td><strong>ISKL</strong></td>
                            <td>vs.</td>
                            <td><strong>SAS</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <h4>Girls</h4>
                    <table style="margin: 0px auto;">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Home</th>
                            <th></th>
                            <th>Visitor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="item">
                            <td colspan="4" style="padding-left:0px"><strong><i>ROUND 3</i></strong></td>
                        </tr>
                        <tr class="item">
                            <td>10:15 AM</td>
                            <td><strong>ISB</strong></td>
                            <td>vs.</td>
                            <td><strong>ISKL</strong></td>
                        </tr>
                        <tr class="item">
                            <td>11:00 AM</td>
                            <td><strong>ISM</strong></td>
                            <td>vs.</td>
                            <td><strong>TAS</strong></td>
                        </tr>
                        <tr class="item">
                            <td>11:45 AM</td>
                            <td><strong>JIS</strong></td>
                            <td>vs.</td>
                            <td><strong>SAS</strong></td>
                        </tr>
                        <tr class="item">
                            <td colspan="4" style="padding-left:0px"><strong><i>ROUND 4</i></strong></td>
                        </tr>
                        <tr class="item">
                            <td>15:15 PM</td>
                            <td><strong>ISKL</strong></td>
                            <td>vs.</td>
                            <td><strong>ISM</strong></td>
                        </tr>
                        <tr class="item">
                            <td>16:00 PM</td>
                            <td><strong>SAS</strong></td>
                            <td>vs.</td>
                            <td><strong>ISB</strong></td>
                        </tr>
                        <tr class="item">
                            <td>16:45 PM</td>
                            <td><strong>TAS</strong></td>
                            <td>vs.</td>
                            <td><strong>JIS</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <h2><strong>Day Three</strong></h2>
            <h3>Saturday, 30 January</h3>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 col-xs-12">
                    <h4 style="text-align:center">Boys</h4>
                    <table style="margin: 0px auto;">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Home</th>
                            <th></th>
                            <th>Visitor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="item">
                            <td colspan="4" style="padding-left:0px"><strong><i>ROUND 5</i></strong></td>
                        </tr>
                        <tr class="item">
                            <td>8:00 AM</td>
                            <td><strong>ISM</strong></td>
                            <td>vs.</td>
                            <td><strong>ISB</strong></td>
                        </tr>
                        <tr class="item">
                            <td>8:45 AM</td>
                            <td><strong>SAS</strong></td>
                            <td>vs.</td>
                            <td><strong>JIS</strong></td>
                        </tr>
                        <tr class="item">
                            <td>9:30 AM</td>
                            <td><strong>TAS</strong></td>
                            <td>vs.</td>
                            <td><strong>ISKL</strong></td>
                        </tr>
                        <tr class="item">
                            <td colspan="4" style="padding-left:0px"><strong><i>BREAK</i></strong></td>
                        </tr>
                        <tr class="item">
                            <td>14:15 PM</td>
                            <td><strong>T5</strong></td>
                            <td>vs.</td>
                            <td><strong>T6</strong></td>
                        </tr>
                        <tr class="item">
                            <td>15:45 PM</td>
                            <td colspan="3"><strong>Rugby consolation match</strong></td>
                        </tr>
                        <tr class="item">
                            <td><strong>17:15 PM</strong></td>
                            <td colspan="3"><strong>Rugby championship match</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <h4>Girls</h4>
                    <table style="margin: 0px auto;">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Home</th>
                            <th></th>
                            <th>Visitor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="item">
                            <td colspan="4" style="padding-left:0px"><strong><i>ROUND 5</i></strong></td>
                        </tr>
                        <tr class="item">
                            <td>10:15 AM</td>
                            <td><strong>ISKL</strong></td>
                            <td>vs.</td>
                            <td><strong>SAS</strong></td>
                        </tr>
                        <tr class="item">
                            <td>11:00 AM</td>
                            <td><strong>ISB</strong></td>
                            <td>vs.</td>
                            <td><strong>TAS</strong></td>
                        </tr>
                        <tr class="item">
                            <td>11:45 AM</td>
                            <td><strong>JIS</strong></td>
                            <td>vs.</td>
                            <td><strong>ISM</strong></td>
                        </tr>
                        <tr class="item">
                            <td colspan="4" style="padding-left:0px"><strong><i>BREAK</i></strong></td>
                        </tr>
                        <tr class="item">
                            <td>15:00 PM</td>
                            <td><strong>T5</strong></td>
                            <td>vs.</td>
                            <td><strong>T6</strong></td>
                        </tr>
                        <tr class="item">
                            <td>16:30 PM</td>
                            <td colspan="3"><strong>Touch consolation match</strong></td>
                        </tr>
                        <tr class="item">
                            <td><strong>18:00 PM</strong></td>
                            <td colspan="3"><strong>Touch championship match</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12" style="font-size: 1.3em">
                  <p>
                      <strong><i>* The HOME teams are listed first, and will wear their light colored uniform.</i></strong>
                  </p>
                </div>
            </div>
            <br>
{%endblock%}
