{%extends "template.html"%}
{%block style%}
  body {
      background: url({{url_for('static',filename='img/bg-colors/ISKL_yellow.png')}}) repeat;
  }
{%endblock%}
{%block content%}
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <p style="text-align:center">
          <img alt="logo" src="{{url_for('static', filename='img/logos/school_ISKL_100px.png')}}">
        </p>
      </div>
      <div class="col-md-8">
        <h1 class="page-header">International School Kuala Lampur <small>Panthers</small></h1>
      </div>
    </div>
{%endblock%}
